.carousel img {
    object-fit: cover;
    object-position: center; 
    height: 90vh;
    overflow: hidden;
   }  


.fa-anchor,.fa-coffee {
	font-size:200px;
}

/*

STAY UPDATED

*/

#submitButton{
	margin-left: 332px;
	margin-bottom: 20px;
  color: #a83291;
  font-weight: bold;
  background-color: #eec4e6;
  border-style: none;
	font-size: 20px;
}

#pageTitle{
	padding-top: 90px;
	padding-bottom: 30px;
  padding-left: 15px;
	font-size: 24px;
}

#contactPage{
	display: inline-block;
}

#submissionform{
	float: left;
	max-width: 60%;
	padding-bottom: 30px;
	padding-left: 30px;
	font-size: 15px;
}

.formLabel, #asterisk{
	padding-left: 5px;
}

#formCheckboxes{
	padding-left: 30px;
	padding-top: 5px;
}